<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body th:object="${foto}">
	<h1>Modifica Foto</h1>
	<form method="POST"
		th:action="@{/admin/foto/update/{id}(id=${foto.id})}">

		<label>titolo</label> <input type="text" name="titolo"
			th:value="*{titolo}"> <label style="color: red"
			th:if="${errors != null && errors.hasFieldErrors('titolo')}">
			[[${errors.getFieldError('titolo').getDefaultMessage}]] </label> <br> <label>descrizione</label>
		<input type="text" name="descrizione" th:value="*{descrizione}">
		<label style="color: red"
			th:if="${errors != null && errors.hasFieldErrors('descrizione')}">
			[[${errors.getFieldError('descrizione').getDefaultMessage}]] </label> <br>

		<label>url</label> <input type="text" name="url" th:value="*{url}">
		<label style="color: red"
			th:if="${errors != null && errors.hasFieldErrors('url')}">
			[[${errors.getFieldError('url').getDefaultMessage}]] </label> <br> <label>Publicazione
			Foto</label> <input type="checkbox" name="visibile"
			th:checked="${foto.visibile}"> <label for="visibile">Pubblica
			foto</label> <br>

		<div th:each="categoria : ${categorie}" th:object="${categorie}">
			<input th:id="${'categoria' + categoria.id}"
       th:value="${categoria.id}"
       type="checkbox"
       name="categorieSelezionate"
       th:checked="${categorieSelezionate.contains(categoria.id)}">



			<label th:for="${'categoria' + categoria.id}"
				th:text="${categoria.nome}"></label>
		</div>

		<input type="submit" value="MODIFICA">
	</form>
</body>
</html>